<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="documento">
      <h2 data-cy="documentoDetailsHeading"><span jhiTranslate="farolDocsApp.documento.detail.title">Documento</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ documento.id }}</span>
        </dd>
        <dt><span jhiTranslate="farolDocsApp.documento.assunto">Assunto</span></dt>
        <dd>
          <span>{{ documento.assunto }}</span>
        </dd>
        <dt><span jhiTranslate="farolDocsApp.documento.descricao">Descricao</span></dt>
        <dd>
          <span>{{ documento.descricao }}</span>
        </dd>
        <dt><span jhiTranslate="farolDocsApp.documento.ementa">Ementa</span></dt>
        <dd>
          <span>{{ documento.ementa }}</span>
        </dd>
        <dt><span jhiTranslate="farolDocsApp.documento.url">Url</span></dt>
        <dd>
          <span>{{ documento.url }}</span>
        </dd>
        <dt><span jhiTranslate="farolDocsApp.documento.numero">Numero</span></dt>
        <dd>
          <span>{{ documento.numero }}</span>
        </dd>
        <dt><span jhiTranslate="farolDocsApp.documento.ano">Ano</span></dt>
        <dd>
          <span>{{ documento.ano }}</span>
        </dd>
        <dt><span jhiTranslate="farolDocsApp.documento.situacao">Situacao</span></dt>
        <dd>
          <span jhiTranslate="{{ 'farolDocsApp.SituacaoDocumento.' + documento.situacao }}">{{ documento.situacao }}</span>
        </dd>
        <dt><span jhiTranslate="farolDocsApp.documento.criacao">Criacao</span></dt>
        <dd>
          <span>{{ documento.criacao | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="farolDocsApp.documento.projeto">Projeto</span></dt>
        <dd>
          <div *ngIf="documento.projeto">
            <a [routerLink]="['/projeto', documento.projeto?.id, 'view']">{{ documento.projeto?.nome }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="farolDocsApp.documento.tipo">Tipo</span></dt>
        <dd>
          <div *ngIf="documento.tipo">
            <a [routerLink]="['/tipo', documento.tipo?.id, 'view']">{{ documento.tipo?.nome }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="farolDocsApp.documento.orgaoEmissor">Orgao Emissor</span></dt>
        <dd>
          <div *ngIf="documento.orgaoEmissor">
            <a [routerLink]="['/orgao-emissor', documento.orgaoEmissor?.id, 'view']">{{ documento.orgaoEmissor?.sigla }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="farolDocsApp.documento.tipoNorma">Tipo Norma</span></dt>
        <dd>
          <div *ngIf="documento.tipoNorma">
            <a [routerLink]="['/tipo-norma', documento.tipoNorma?.id, 'view']">{{ documento.tipoNorma?.tipo }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/documento', documento.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
