<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="projeto">
      <h2 data-cy="projetoDetailsHeading"><span jhiTranslate="farolDocsApp.projeto.detail.title">Projeto</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ projeto.id }}</span>
        </dd>
        <dt><span jhiTranslate="farolDocsApp.projeto.nome">Nome</span></dt>
        <dd>
          <span>{{ projeto.nome }}</span>
        </dd>
        <dt><span jhiTranslate="farolDocsApp.projeto.inicio">Inicio</span></dt>
        <dd>
          <span>{{ projeto.inicio | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="farolDocsApp.projeto.fim">Fim</span></dt>
        <dd>
          <span>{{ projeto.fim | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="farolDocsApp.projeto.situacao">Situacao</span></dt>
        <dd>
          <span jhiTranslate="{{ 'farolDocsApp.SituacaoProjeto.' + projeto.situacao }}">{{ projeto.situacao }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/projeto', projeto.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
