<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="documentoUser">
      <h2 data-cy="documentoUserDetailsHeading"><span jhiTranslate="farolDocsApp.documentoUser.detail.title">Documento User</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ documentoUser.id }}</span>
        </dd>
        <dt><span jhiTranslate="farolDocsApp.documentoUser.user">User</span></dt>
        <dd>
          <span>{{ documentoUser.user?.login }}</span>
        </dd>
        <dt><span jhiTranslate="farolDocsApp.documentoUser.documento">Documento</span></dt>
        <dd>
          <div *ngIf="documentoUser.documento">
            <a [routerLink]="['/documento', documentoUser.documento?.id, 'view']">{{ documentoUser.documento?.descricao }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/documento-user', documentoUser.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
